body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    padding: 10px;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    text-align: center; /* Centraliza o texto */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: "\2022";
    color: #0056b3;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; /* Adiciona uma borda inferior */
}

.card__content {
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo */
}

footer {
    background: linear-gradient(45deg, #fbda61, #29ace0);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
