body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(45deg, #fbda61, #29ace0) no-repeat;
    height: 46vw;
  }
  .calendar {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .evento{
    cursor: pointer;
    background-color: #3498db;
    padding: 15px 40px;
    border-radius: 20px;
    width: 15%;
    margin-left: 40%;
    text-align: center;
    margin-top: 10px;
}
.evento a{
    text-decoration: none;
    color: white;
    
}
  .calendar-header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  .calendar-table th,
  .calendar-table td {
    text-align: center;
    padding: 8px; /* Reduzido o tamanho do padding */
    font-size: 14px; /* Reduzido o tamanho da fonte */
    border: 1px solid #ddd;
  }
  .calendar-table th {
    background-color: #3498db;
    color: #fff;
  }
  .calendar-table td {
    cursor: pointer;
  }
  .calendar-table td:hover {
    background-color: #f2f2f2;
  }
  .event-input{
    text-align: center;
    width: 60%;
    height: 300px;
    margin-left: 20%;
    display:none ;
    box-shadow: 1px 1px 1px 1px black;
  }
  button{
    margin-top: 8%;
    padding: 10px 20px;
    cursor: pointer;
  }
  input{
    padding: 10px 13px;
  }
  @media (max-width: 400px) {
    .calendar {
      border-radius: 0;
    }
    .calendar-header,
    .calendar-table th,
    .calendar-table td {
      font-size: 12px; /* Ajuste para dispositivos de tela menores */
    }

    .event-input {
      display:none ;
      background-color: transparent;
      box-shadow: 1px 1px 1px 1px black;
      
      
    }
    .evento {
      text-align: center;
      margin-top: 10px;
      width: 40%;
      margin-left: 20%;
      
    }
  body{
    height: 200vw;
  }


  }
  
