body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #fbda61, #29ace0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.cadastro-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
    text-align: center;
    color: #FFD700; /* Amarelo Claro */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #FFD700;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 105%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFA500; /* Tom de amarelo mais escuro ao passar o mouse */
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .cadastro-form {
        width: 100%;
    }
}
