header {
  margin-left: -6%;
  width: 100%;
  background-color: #335577;
  padding: 20px;
  display: block;
  margin-top: -6%;
  height: 100px;
  position: fixed;
}

i#burguer {
  margin-left: 30px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  background-color: #335577;
  height: 37px;
  width: 39px;
  font-size: 40px;
  margin-top: 35px;


}

i#burguer:hover {
  background-color: white;
  color: #335577;
  transition: 0.6s;
}

/*cabeçalho*/
menu#cabecalho,
a {
  margin-left: 10px;
  display: block;

  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
  height: 40px;

}

menu#cabecalho,
a:hover {
  color: aqua;

}
#menu {
  background-color: #335577;
  margin-top: -1.2%;
  margin-left: -0.10%;
  width: 100%;
}

#botao {
  margin-top: 1%;
}
span#expande {
  color: #e2e2e2;
  margin: -10%;
  cursor: pointer;
}

span#expande:hover {
  color: aqua;

}

/*imagem logo*/
.foto {
  height: 580px;
  width: 102%;
  margin-left: -1%;
}

.abelha {
  margin-left: 50%;
  width: 200px;
  margin-top: -20px;
}

.imagem {
  margin-top: -59px;
  margin-left: 80%;
  display: flex;
}

.imagem>h2 {
  color: #ffffff;
  font-size: 28px;
  margin-left: -25%;
  margin-top: 20px;
}

a#login {
  display: flex;
  margin-left: 4%;
  margin-top: -35px;
  width: 5%;

}

h2#h2 {
  float: right;
}

.textos>h1 {
  font-size: 50px;

}

.containerr {
  width: 110%;
  margin-left: -5%;

}

.text {

  float: right;
  font-size: 18px;
  color: black;
  font-family: arial;
  margin-right: 12%;
}

.text2 {
  margin-top: 17%;
  color: black;
  font-family: arial;
  margin-right: 10px;
}

.abelinda {
  float: left;
  margin-top: 15%;
  margin-left: 10px;
  width: 37%;
}

p.titulo {
  float: right;
  font-size: 50px;
  color: black;
  margin-top: 10%;
  margin-right: 50px;
}

img.porcentagem {
  float: left;
  padding: 5px;
  margin-left: -3%;
  border-radius: 10%;
  box-shadow: 0px 0px 5px 5px rgb(105, 154, 228);
  margin-top: 10%;
}

.containerr>.container {
  height: 200px;
  box-shadow: none;
}

/*fim*/
html {

  font-size: 62.5%;
}

body {
  justify-content: center;
  align-content: center;
  padding: 6rem;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

@media (max-width: 60em) {
  body {
    padding: 2rem;
    margin: 1px;
  }
}

.grid {
  display: grid;
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  padding: 5%;
  background-color: #335577;
  margin-top: 10%;

}




.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
}

.grid__item:hover {

  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.card__content {
  padding: 3rem 3rem;
}

.card__header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card__text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}

.tudo {
  display: flex;
  justify-content: space-around;
  margin-left: -5px;
  background: #335577;
}

.grid__item,
.grid__item2,
.grid__item3 {
  flex: 1;
  margin: 10px;
  max-width: 400px;
  /* ou outro valor que você preferir */
}

/* Media queries para tornar responsivo se necessário */

@media screen and (max-width: 768px) {
  .tudo {
    flex-direction: column;
    align-items: center;
  }
}


/*responsivo*/

@media screen and (max-width: 400px) {
  header {
    margin-top: -21px;
    padding: 1px;
    background-color: #335577;
    width: 102%;
  }

  i#burguer {
    margin-top: 4%;
    margin-left: 6%;

  }

  /*abelha*/
  .imagem {
    margin-left: -5%;
    margin-top: -12%;
    height: 100px;

  }

  /*fim*/

  a#login {
    margin-left: 10%;
  }

  .cabecalho {
    background-color: #335577;
    margin-top: -27px;
    width: 100%;
    height: 200px;

  }

  .cabecalho a {
    margin: 12px;
    height: 20px;
    width: 50%;
    background-color: transparent;
    margin-left: 5%;

  }

  .btndropdown {
    margin-left: -10px;
  }

  .containerr {
    margin-top: 50%;
    margin-left: 30%;
  }

  .abelinda {
    margin-top: 40%;
  }

  .text {
    margin-left: -10%;
  }

  .containerr>.container {
    height: 300px;
    width: 70%;
    margin-left: -20%;
    box-shadow: none;
  }

  .card__content>.card__header {
    color: #020202;
    font-size: 20px;
  }

  .clientes {
    height: 500px;
    width: 90%;
    margin-top: -40%;
    margin-left: 10%;
  }

  /*cards*/
  .card__img {
    width: 375px;
    margin-top: -5%;
    margin-left: -21%;
  }

  #dados {
    width: 90%;
    margin: 5%;
  }

  .card {
    width: 250px;
    height: 100%;
  }

  .gridois {
    width: 100%;
    border-radius: 7%;
    margin-left: -2%;

  }

  .grid2>.grid__item2 {
    margin-left: -80%;
  }

  .gridum>.grid__item {
    margin-left: -3%;
    margin: 6%;
  }

  .gridum {
    width: 110%;
    margin-left: -5%;

  }

  .gridtres {
    width: 110%;
    margin-left: -5%;
  }

  .gridtres>.grid__item3 {
    margin: 6%;
  }

  /*fim dos cards*/

  /*cadstro*/

  .container>.form {
    background: #515050;
    width: 25%;
    margin-left: -54rem;
    height: 850px;
  }

  .form-header {
    width: 40rem;
    height: 150px;
    align-items: center;
    margin-top: 250%;
    margin-left: -10rem;
  }

  .form-header>.title {
    margin-top: -50%;
    color: #e2e2e2;
    font-size: 50px;
  }

  .input-box {
    margin-left: -10rem;
  }

  .continue-button {
    margin-left: -10rem;
  }

  .container {
    width: 23%;

  }

  .form-image img {
    height: 400px;
  }

  /*as empresas parceiras*/
  .clientess {
    background: #24346b;
    width: 120%;
    height: 750px;
    align-items: center;
    margin-left: -6%;
  }

  .clientess>.clientes {
    margin-top: -5%;
    margin-right: -10%;
  }

  .clientes img {
    height: 130px;
    width: 28%;

  }

  .clientess>.nossos {
    color: #ffffff;
    margin-left: 15%;
    font-size: 35px;
  }

  /*contatos*/
  .gallery img {
    width: 30%;
  }

  .gallery figcaption {
    font-size: 20px;
  }

  .gallery {

    height: 100px;
    margin: 5%;
    margin-top: 30%;

  }

  .caixa {
    margin-top: 70%;
    margin-left: -12%;
  }
}

/*fim do responsivo em 400px*/

.clientes>img {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px 3px rgb(140, 139, 139);
}

.nossos {
  font-size: 45px;
  margin-left: 40%;
}


.grid>section {

  width: 400px;
}

section>.clientes {
  display: flex;
  float: right;
  margin-right: -10%;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 100px;
  width: 80%;
  align-items: center;
  margin: 10px;
}

.clientess h2{
  color: rgb(0, 0, 0);
  width: 40%;
  font-weight: 700;
  align-items: center;
  margin-left: 37%;
  margin-top: 10%;
  
}
@media screen and (max-width: 768px) {
  .clientes {
    flex-direction:row-reverse;
    align-items: center;
  }
}

.body2 {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  background: #e2e2e2;

}

.container {
  width: 50%;
  height: 170vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
  margin-top: 20px;
}


.form-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b3b3b3;
  padding: 20rem;
}

.form-image img {
  width: 50rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: #fffefe;
  padding: 20rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 10rem;
  height: 0.3rem;
  background-color: #335577;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;

}

.input-box input {
  margin: 0.6rem 0;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #2e2d2d;


}

.input-box input:hover {
  background-color: #fff;

}

.input-box input:focus-visible {
  outline: 1px solid #335577;

}

.input-box label {
  font-size: 3rem;
  font-weight: 600;
  color: #0d0d0d;
}

.input-box input::placeholder {
  color: #0d0d0d;

}

.continue-button button {
  width: 100%;
  height: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  background-color: #ffcc3f;
  padding: 2rem;
  border-radius: 5px;
  cursor: pointer;

}

.continue-button button:hover {
  background-color: #FE9F00;
}

.continue-button button a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 10px;
  color: #fff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 4rem;
}

.footer>.img {
  margin-top: 40px;
}

.grid {
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  padding: 5%;
  background-color: #335577;
  margin-top: 10%;
  display: grid;
  place-items: center;
  justify-content: stretch
}

.grid2 {
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  background-color: #335577;
  display: grid;
  place-items: center;
  justify-content: stretch
}

.grid__item {
  background-color: #fff;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  display: grid;
  place-items: center;
}

.grid__item2 {
  background-color: #fff;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  display: grid;
  place-items: center;
}

.grid__item3 {
  background-color: #fff;
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  display: grid;
  place-items: center;
}

.grid__item:hover {

  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card2>img {
  image-orientation: calc(50 50);
  width: 8rem;
  height: 8rem;
}

.card__content2 {
  padding: 4rem 4rem;
}

.card__header2 {
  font-size: 2rem;
  font-weight: 50;
  color: #0d0d0d;
  margin-bottom: 3rem;
}

.card2>text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 3;
  color: #75c1ff;
  margin-bottom: 2.5rem;
}

.card__img2 {
  align-self: center;
  margin-top: 5px;
}

figure {
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 2px #2a2a2b;

}
figcaption {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caixa {
  display: flex;
  justify-content: space-between;
}

.gallery {
  flex: 1;
  margin-top: 60px;
}

/* Ajuste os estilos específicos conforme necessário */

.gallery figure {
 
  margin-left: 30%;
}

.gallery img {
  width: 50%;
  /* ou outro valor desejado */
  margin-left: 120px;
}

.gallery figcaption {
  margin-top: 10px;
}

.gallery a {
  color: rgb(7, 145, 145);
  font-size: 20px;
  margin-left: 35px;
}

/* Estilos para a segunda galeria */

.gallery:nth-child(2) img {
  width: 40%;
  margin-left: 80px;
  margin-top: 9px;
}

.gallery:nth-child(2) figcaption {
  margin-top: 20px;
  font-size: 19px;
}

.gallery:nth-child(2) a {
  font-size: 19px;
  margin-left: 70px;
  margin-top: 20px;
  text-align: center;
}