body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #fbda61, #29ace0);
    margin: 0;
    font-family: sans-serif;
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: sans-serif;
}

.card:hover {
    height: 450px;
}

.imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    cursor: pointer;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover .imgBx img {
    filter: brightness(0.5);
}

#inputImage {
    display: none;
}

.content {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.card:hover .content {
    display: flex;
}

.details {
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .details {
    transform: translateY(0);
}

.details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
}

.details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.data {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 1.2em;
}

.data a {
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
    text-decoration: none;
}

.actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.actionBtn button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #96f5e0;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    font-family: sans-serif;
}

.actionBtn button:nth-child(2) {
    border: 1px solid #8a8989;
    color: #8a8989;
    background: #fff;
}
.backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.backButton:hover {
    color: #96f5e0;
}

.backButton span {
    margin-right: 5px;
}

.circle {
    background-color: #29ace093;
    border-radius: 50%;
    padding: 9px;
}
.left,
.right {
    width: 20px;
    height: 20px;
    transition: .5s;
    float: left;
    box-shadow: -2px 2px 0 black;
  
    align-items: left;
}

.left {
    transform: rotate(45deg);
    position: absolute;
    top: 10px; /* Ajuste a posição conforme necessário */
    left: 10px; /* Ajuste a posição conforme necessário */

    transform: rotate(45deg);
}

    @media (max-width: 600px) {
        .card {
            width: 100%; /* Ocupar 100% da largura da tela em dispositivos móveis */
            border-radius: 0; /* Remover borda arredondada em telas menores */
        }
    
        .imgBx {
            width: 70%; /* Ajustar a largura da imagem em dispositivos móveis */
        }
    
        .card .content .details {
            padding: 20px; /* Reduzir o padding em dispositivos móveis */
        }
    
        .card .content .details .data {
            flex-direction: column; /* Alinhar dados verticalmente em telas menores */
            align-items: center;
        }
        .left {
            position: fixed;
            top: 10px; /* Ajuste a posição conforme necessário para telas menores */
            left: 10px; /* Ajuste a posição conforme necessário para telas menores */
        }
    }
    
