body {
    font-family: 'Arial', sans-serif;
    background: #aaddff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.solucao {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    flex-basis: 100%; /* Ocupa 100% da largura */
}

.solucao img {
    width: 100%;
    height: auto;
}

.solucao h2 {
    color: #333;
    margin: 20px 0;
}

.descricao {
    display: none;
    padding: 25px;
}

h1 {
    width: 100%; /* Ocupa 100% da largura */
    color: #ffffff;
    margin-bottom: 8rem;
    margin-top: 230rem;
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .solucao, h1 {
        flex-basis: 100%; /* Em telas menores, também ocupa 100% da largura */
    }
}

