body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.solucao {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    flex-basis: calc(33.33% - 20px);
}

.solucao img {
    width: 100%;
    height: auto;
}

.solucao h2 {
    color: #333;
    margin: 15px 0;
}

.descricao {
    display: none;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .solucao {
        flex-basis: calc(50% - 20px);
    }
}


